body {
    text-align: center;
    background-color: #e3e2e2;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #486940;
    color: white;
}

input {
    padding: 7px;
    margin: 5px;
}