tr.Purple {
  background-color: #eee9ff;
}
td {
  border: 1px solid black;
  padding: 10px;
  height: 50px;
}
th{
  border: 1px solid black;
  height: 15px
}

h2 {
  color: #9361e7;
}

.image-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            background-color: #eee9ff;

        }
.image-grid img {
            width: 100%;
            aspect-ratio: 4 / 3;
            object-fit: cover;
            border-radius: 8px;
        }